.QRover {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url(http://www.shiccs.net/pictures/scan/bg.c222f0a.png) no-repeat;
  background-size: 100% 100%;
}
.QRsuccess-box {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url(http://www.shiccs.net/pictures/scan/bg.c222f0a.png) no-repeat;
  background-size: 100% 100%;
}
.QRsuccess-box {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url(http://www.shiccs.net/pictures/scan/bg.c222f0a.png) no-repeat;
  background-size: 100% 100%;
}